@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
    --sample-color:rgba(57, 67, 86, 1);
    --gray: rgba(21, 24, 29, 1);

    --white: rgba(238, 249, 247, 1);
    --oswald: "Oswald";
    --body-bg-color: linear-gradient(90deg, rgb(33, 35, 40) 50%, rgb(28, 31, 36) 65%);
    /* --body-bg-color: linear-gradient(10deg, rgba(6,16,33,1) 60%, rgb(17, 27, 46) 85%); */
}

/* - - - - - - - */
/**  UserNavBar  */
/* - - - - - - - */



/* - - - - - - - */
/**  Index Page  */
/* - - - - - - - */

body {
    overflow-x: hidden;
    background: var(--body-bg-color);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

#top-content-wrapper {
    /* border: 0.15em red solid; */
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3em;
    gap: 5em;
    width: 100%;
    box-sizing: border-box;
}
.top-content-subclass {
    /* border: 0.15em cyan solid; */
    gap: 2em;
    display: flex;
    align-self: center;
    flex-direction: row;
    position: relative;
    width: 95%;
    height: 25em;
    margin: 5px;
    padding: 1em;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
    background-color: rgba(58, 45, 66, 0.2);
}
#top-content-first-image-div {
    /* border: 0.15em yellow solid; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
}
#top-content-first-image {
    /* border: 0.15em green solid; */
    position: absolute;
    max-width: max(30em, 10em);
    top: 10%;
    box-shadow: 20px 20px 10px rgb(72, 33, 76);
}
#top-content-first-image img {
    width: 100%;
}
#top-content-first-text {
    /* border: 0.15em purple solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow-x: hidden;
    width: 55%;
    padding: 2em;
}


#top-content-first-image-div2 {
    /* border: 0.15em yellow solid; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 55%;
}
#top-content-first-image2 {
    /* border: 0.15em green solid; */
    position: absolute;
    max-width: max(30em, 10em);
    top: 10%;
    box-shadow: 20px 20px 10px rgb(72, 33, 76);
}
#top-content-first-image2 img {
    width: 100%;
}
#top-content-first-text2 {
    /* border: 0.15em purple solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow-x: hidden;
    width: 45%;
    padding: 2em;
}
#bottom-page-margin {
    height: 8em;
}

/* - - - - - - - */
/** Contact Page */
/* - - - - - - - */
#contact-top-div {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
    width: 10em;
    height: fit-content;
    background-color: rgba(58, 45, 66, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: max(6em, 50%);
    padding: 1em;
}
#contact-top-div h2 {
    font-size: 2em;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.contact-form input {
    min-width: max(6em, 60%);
    margin-block: 0.5em;
}
.contact-form input {
    min-width: max(6em, 60%);
    margin-block: 0.5em;
    border: solid rgb(192, 41, 184) 0.1em;
    background-color: var(--gray);
    border-radius: 0.7em;
    padding: 0.5em;
    font-weight: 600;
    color: var(--white);
    transition: 200ms;
}
.contact-form input:hover {
    border: solid rgb(41, 192, 84) 0.1em;
    transition: 200ms;
    border-radius: 1em;
}
.contact-form textarea {
    min-width: max(6em, 60%);
    height: 100px;
    resize: none;
    margin-block: 0.5em;
    background-color: var(--gray);
    border: solid rgb(192, 41, 184) 0.1em;
    border-radius: 0.7em;
    padding: 0.5em;
    font-weight: 600;
    color: var(--white);
    transition: 200ms;
}
.contact-form textarea:hover {
    border: solid rgb(41, 192, 84) 0.1em;
    transition: 200ms;
}
#EmailSubmit {
    min-width: max(6em, 10%);
}

/* - - - - - - - */
/** Line-Up Page */
/* - - - - - - - */
