@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
    --sample-color:rgba(57, 67, 86, 1);
    --gray: rgba(21, 24, 29, 1);
    --white: rgba(238, 249, 247, 1);
    --oswald: "Oswald";
    --body-bg-color: linear-gradient(90deg, rgb(33, 35, 40) 50%, rgb(28, 31, 36) 65%);
    /* --body-bg-color: linear-gradient(10deg, rgba(6,16,33,1) 60%, rgb(17, 27, 46) 85%); */
}

.page-content-split {
    width: 80vw;
    border-style: solid;
    border-color: var(--white);
    background-color: var(--white);
}

/*! - - - - - - - */
/**  UserNavBar  */
/*! - - - - - - - */
.usernav {
    display: flex;
    position: relative;
    width: 100%;
    height: 3.5em;
    font-family: var(--oswald);
    overflow: hidden;
    font-size: 1.5em;
    box-shadow: 0 0.1em 20px 10px rgb(87, 71, 90);
    z-index: 1;
}
.usernav img {
    margin-inline: 25px;
    margin-block: 15px;
    top: 50%;
    z-index: 3;
}
.usernav-ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}
.usernav-ul a li {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    padding: 2em;
    transition: 200ms;
    z-index: 3;
}
.usernav-ul a li p {
    margin: 0;
    padding: 0;
    transition: 150ms;
}
.usernav-ul a {
    text-decoration: none;
    z-index: 3;
}

.usernav-ul a:hover li {
    background-color: rgb(90, 42, 91);
    transition: 150ms;
}
.usernav-ul a:hover li p {
    transform: scale(1.1);
    transition: 150ms;
}
.usernav-ul:hover a > *:not(*:hover) {
    filter: blur(2px);
    transition: 150ms;
}
.homelink {
    margin: 0;
    padding: 0;
    border: 0 none;
    display: flex;
}
/*! - - - - - - - */
/**  Index Page  */
/*! - - - - - - - */

body {
    overflow-x: hidden;
    background: var(--body-bg-color);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

.top-content-wrapper {
    /* border: 0.15em red solid; */
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3em;
    gap: 5em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10em;
}
.top-content-subclass {
    /* border: 0.15em cyan solid; */
    gap: 2em;
    display: flex;
    align-self: center;
    flex-direction: row;
    position: relative;
    width: 95%;
    height: 25em;
    margin: 5px;
    padding: 1em;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
    background-color: rgba(58, 45, 66, 0.2);
}
#top-content-first-image-div {
    /* border: 0.15em yellow solid; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
}
#top-content-first-image {
    /* border: 0.15em green solid; */
    position: absolute;
    max-width: max(30em, 10em);
    top: 10%;
    box-shadow: 20px 20px 10px rgb(72, 33, 76);
}
#top-content-first-image img {
    width: 100%;
}
#top-content-first-text {
    /* border: 0.15em purple solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow-x: hidden;
    width: 55%;
    padding: 2em;
}


#top-content-first-image-div2 {
    /* border: 0.15em yellow solid; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 55%;
}
#top-content-first-image2 {
    /* border: 0.15em green solid; */
    position: absolute;
    max-width: max(30em, 10em);
    top: 10%;
    box-shadow: 20px 20px 10px rgb(72, 33, 76);
}
#top-content-first-image2 img {
    width: 100%;
}
#top-content-first-text2 {
    /* border: 0.15em purple solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow-x: hidden;
    width: 45%;
    padding: 2em;
}

/*! - - - - - - - */
/** Contact Page */
/*! - - - - - - - */

.contact-top-div {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: fit-content;
    width: max(20%, 30%);
    margin-inline: auto;
    margin-top: 10vh;
    padding: 1em 2em 2em;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
}

.contact-top-div > * {
    padding-block: 1em;
}

.contact-top-div h2 {
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.contact-form > * {
    border-inline: transparent;
    border-top: transparent;
    border-style: solid;
    border-width: 2px;
    width: 20em;
    height: 1.5em;
    align-self: center;
    background-color: transparent;
    padding: 0.5em;
    color: var(--white);
}

.contact-form textarea {
    height: 8em;
    resize: none;
    width: 125%;
}

.contact-submit {
    border: 2px solid ;
    width: fit-content;
    padding-inline: 1em;
    height: fit-content;
    color: var(--white);
    border-radius: 10px;
    border-color: rgb(238, 80, 255);
    transition: 200ms;
}

.contact-submit:hover {
    border-color: rgb(80, 255, 144);
}

/*! - - - - - - - */
/**  News Items   */
/*! - - - - - - - */

.newsitems-top-wrapper p {
    margin: 0;
}

.newsitems-top-wrapper {
    position: relative;
    min-height: 20em;
    padding: 0.8em;
    margin-top: 6em;
    margin-bottom: 5em;
}

.newsitems-top-wrapper h2 {
    margin: 0 0 1em 0;
    font-size: 3em;
    text-align: center;
}

.newsitems-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.news-item {
    display: flex;
    align-items: center;
    height: 14em;
    flex-wrap: no-wrap;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
    background-color: rgba(58, 45, 66, 0.2);
    width: 90%;
}

.news-item p {
    margin-inline: 1em;
}

.news-item-bg {
    background: url('https://i.pinimg.com/550x/f5/6b/ae/f56baef86aed6c261c422402aab59065.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 20%;
    height: 100%;
}

/**   when screen becomes smaller than 600px reduce font size   */
@media only screen and (max-width: 600px) {
    body {
        font-size: 0.5em;
    }

    h2 {
        font-size: 1em;
    }
}

/*! - - - - - - - */
/**  Line-Up Page */
/*! - - - - - - - */

.top-lineup-content-wrapper p {
    margin: 0 0 2em 0;
    width: 70%;
    text-align: center;
}
.top-lineup-content-wrapper {
    position: relative;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lineup-content-wrapper {
    display: grid;
    gap: 2em;
}

.artist-card {
    max-width: 4em;
    max-height: 4em;
    background-color: red;
}