@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
    --sample-color:rgba(57, 67, 86, 1);
    --gray: rgba(21, 24, 29, 1);
    --white: rgba(238, 249, 247, 1);
    --pink: rgb(238, 80, 255);
    --green: rgb(80, 255, 144);
    --oswald: "Oswald";
    --body-bg-color: linear-gradient(90deg, rgb(33, 35, 40) 50%, rgb(28, 31, 36) 65%);
    /* --body-bg-color: linear-gradient(10deg, rgba(6,16,33,1) 60%, rgb(17, 27, 46) 85%); */
}

* {
    color: var(--white);
}

.page-content-split {
    width: 80vw;
    border-style: solid;
    border-color: var(--white);
    background-color: var(--white);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    /* background: red */
    background: var(--body-bg-color);
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

/*! - - - - - - - */
/**  UserNavBar  */
/*! - - - - - - - */
.usernav {
    display: flex;
    position: relative;
    width: 100%;
    height: 3.5em;
    font-family: var(--oswald);
    overflow: hidden;
    font-size: 1.5em;
    box-shadow: 0 0.1em 20px 10px rgb(87, 71, 90);
    z-index: 1;
}
.usernav img {
    margin-inline: 25px;
    margin-block: 15px;
    top: 50%;
    z-index: 3;
}
.usernav-ul {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 100%;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}
.usernav-ul a li {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    padding: 2em;
    transition: 200ms;
    z-index: 3;
}
.usernav-ul a li p {
    margin: 0;
    padding: 0;
    transition: 150ms;
}
.usernav-ul a {
    text-decoration: none;
    z-index: 3;
}

.usernav-ul a:hover li {
    background-color: rgb(90, 42, 91);
    transition: 150ms;
}
.usernav-ul a:hover li p {
    transform: scale(1.1);
    transition: 150ms;
}
.usernav-ul:hover a > *:not(*:hover) {
    filter: blur(2px);
    transition: 150ms;
}

/* .homelink {
    
} */

/*! - - - - - - - */
/**  Index Page  */
/*! - - - - - - - */

body {
    overflow-x: hidden;
    background: var(--body-bg-color);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

.top-content-wrapper {
    /* border: 0.15em red solid; */
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3em;
    gap: 5em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10em;
}
.top-content-subclass {
    /* border: 0.15em cyan solid; */
    gap: 2em;
    display: flex;
    align-self: center;
    flex-direction: row;
    position: relative;
    width: 95%;
    height: 25em;
    margin: 5px;
    padding: 1em;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
    background-color: rgba(58, 45, 66, 0.2);
}
.top-content-first-image-div {
    /* border: 0.15em yellow solid; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
}
.top-content-first-image {
    /* border: 0.15em green solid; */
    position: absolute;
    max-width: max(30em, 10em);
    top: 10%;
    box-shadow: 20px 20px 10px rgb(72, 33, 76);
}
.top-content-first-image img {
    width: 100%;
}
.top-content-first-text {
    /* border: 0.15em purple solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow-x: hidden;
    width: 55%;
    padding: 2em;
    overflow: hidden;
}


.top-content-first-image-div2 {
    /* border: 0.15em yellow solid; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 55%;
}
.top-content-first-image2 {
    /* border: 0.15em green solid; */
    position: absolute;
    max-width: max(30em, 10em);
    top: 10%;
    box-shadow: 20px 20px 10px rgb(72, 33, 76);
}
.top-content-first-image2 img {
    width: 100%;
}
.top-content-first-text2 {
    /* border: 0.15em purple solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    overflow-x: hidden;
    width: 45%;
    padding: 2em;
}

/*! - - - - - - - */
/** Contact Page */
/*! - - - - - - - */

.contact-top-div {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: fit-content;
    width: max(20%, 30%);
    margin-inline: auto;
    margin-top: 10vh;
    padding: 1em 2em 2em;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
}

.contact-top-div > * {
    padding-block: 1em;
}

.contact-top-div h2 {
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.contact-form > * {
    border-inline: transparent;
    border-top: transparent;
    border-style: solid;
    border-width: 2px;
    width: 20em;
    height: 1.5em;
    align-self: center;
    background-color: transparent;
    padding: 0.5em;
    color: var(--white);
    font-family: "Noto Sans";
}

.contact-form textarea {
    height: 8em;
    resize: none;
    width: 125%;
}

.contact-submit {
    font-weight: 600;
    font-family: "Noto Sans";
    border: 3px solid;
    width: fit-content;
    padding-inline: 1em;
    height: fit-content;
    color: var(--white);
    border-radius: 10px;
    border-color: var(--pink);
    transition: 200ms;
    text-transform: uppercase;
}

.contact-submit:hover {
    border-color: var(--green);
    border-radius: 20px;
    padding-inline: 2em;
}

/*! - - - - - - - */
/**  News Items   */
/*! - - - - - - - */

.newsitems-top-wrapper p {
    margin: 0;
}

.newsitems-top-wrapper {
    position: relative;
    min-height: 20em;
    padding: 0.8em;
    margin-top: 6em;
    margin-bottom: 5em;
}

.newsitems-top-wrapper h2 {
    margin: 0 0 1em 0;
    font-size: 3em;
    text-align: center;
}

.newsitems-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.news-item {
    display: flex;
    align-items: center;
    height: 14em;
    flex-wrap: no-wrap;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
    background-color: rgba(58, 45, 66, 0.2);
    width: 90%;
}

.news-item p {
    margin-inline: 1em;
}

.news-item-bg {
    background: url('https://i.pinimg.com/550x/f5/6b/ae/f56baef86aed6c261c422402aab59065.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 20%;
    height: 100%;
}

/*! - - - - - - - */
/**  Line-Up Page */
/*! - - - - - - - */

.top-lineup-content-wrapper p {
    margin: 0 0 2em 0;
    width: 70%;
    text-align: center;
}
.top-lineup-content-wrapper {
    position: relative;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lineup-content-wrapper {
    margin-block: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: max(1em, 10vw);
    row-gap: 4em;
}

.artist-card > * {
    text-align: center;
}

.artist-card:hover {
    transform: scale(1.05);
}

.artist-card {
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15em;
    width: 10em;
    background-color: rgb(36, 41, 48);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 200ms;
}

.artist-card-img {
    position: relative;
    min-height: 4em;
    width: 80%;
}

@media only screen and (max-width: 800px) {
    .lineup-content-wrapper {
        grid-template-columns: 1fr;
    }
}

/*! - - - - - - - */
/**   Login Page  */
/*! - - - - - - - */

.login-top-wrapper h2 {
    margin: 0 0 1em 0;
}

.login-top-wrapper {
    margin-inline: auto;
    margin-top: 10vh;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.login-top-wrapper input {
    border: solid 2px;
    border-radius: 10px;
    width: 20em;
    height: 1.5em;
    align-self: center;
    background-color: transparent;
    padding: 0.5em;
    color: var(--white);
    font-family: "Noto Sans";
}

.login-top-wrapper input::-webkit-input-placeholder {
    text-align: center;
    font-weight: 600;
}

.login-top-wrapper input[type=submit] {
    width: fit-content;
    height: fit-content;
    padding: 0.4em 1em;
    font-weight: 600;
    text-transform: uppercase;
    border: solid var(--pink);
    font-size: 0.8em;
    transition: 200ms;
}

.login-top-wrapper input[type=submit]:hover {
    border: solid var(--green);
    padding: 0.4em 1.5em;
    border-radius: 20px;
}

.login-half {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
    padding: 3em 4em;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*! - - - - - - - */
/**  Artist Page  */
/*! - - - - - - - */

.artist-content-wrapper {
    /* border: red solid 2px; */
    padding: 4em;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4em;
    display: flex;
    height: 20em;
    row-gap: 10em;
    column-gap: 2em;
}

.artist-content-text {
    /* border: cyan solid 2px; */
    display: flex;
    align-items: center;
    flex-basis: 45vw;
}

.artist-content-text p {
    margin: 0 0 0 1em;
}

.artist-content-img-wrapper {
    /* border: yellow solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-content-img-shadow {
    position: absolute;
    height: 15em;
    width: 27em;
    background-color: rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 15px 0 rgb(10, 10, 10);
    z-index: 1;
    transform: rotate(20deg);
}

.artist-content-img {
    /* border: green solid 2px; */
    z-index: 1;
    height: 15em;
    width: 27em;
}

/*! - - - - - - - - - - */
/**   UserAccount Page  */
/*! - - - - - - - - - - */

.account-content-wrapper p, 
.account-content-wrapper h2 {
    margin: 0;
}
.account-content-wrapper {
    /* background-color: red; */
    font-size: 1.2em;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

.account-content {
    /* background-color: cyan; */
    display: flex;
    justify-content: space-around;
}

.account-info {
    /* background-color: green; */
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.account-settings {
    /* background-color: orange; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
}

.account-settings form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.account-settings form input {
    border: solid 2px;
    padding: 0.4em 0.5em;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
}

.account-settings form input[type=submit] {
    width: fit-content;
    padding: 0.4em 0.6em;
    cursor: pointer;
}

.passwords {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateY(100%);
    text-align: center;
    padding-block: 0.5em;
}

.no-match-error {
    background-color: red;
}

.successfully-changed {
    background-color: green;
}

.account-winkelwagen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-winkelwagen-wrapper > h2 {
    margin-bottom: 1em;
    font-size: 2em;
}

.account-winkelwagen {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 20em;
    row-gap: 2em;
    align-items: center;
    margin-bottom: 2em;
}

.account-winkelwagen-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 25em;
    height: 6em;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
}

.account-winkelwagen-item p {
    font-size: 1.3em;
}
@media only screen and (max-width: 600px) {
    .account-content {
        flex-direction: column;
    }

    .admin-wrapper {
        flex-direction: column;
    }
}

/*! - - - - - - - - - - */
/**  AdminAccount Page  */
/*! - - - - - - - - - - */

.admin-wrapper {
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    row-gap: 2em;
    flex-wrap: wrap;
}

.admin-wrapper p,
.admin-wrapper h2 {
    text-align: center;
}

.admin-box {
    padding: 2em;
    display: flex;
    width: 20em;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 1px rgb(10, 10, 10);
}

/*! - - - - - - - - */
/**   Tickets Page  */
/*! - - - - - - - - */

.tickets-title {
    text-align: center;
    margin-block: 3em;
    font-size: 2em;
}

.tickets-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    row-gap: 4em;
    margin-bottom: 4em;
}

.ticket-img {
    width: 10em;
    height: 10em;
}

.ticket {
    margin: 0 auto;
    padding: 1.5em;
    column-gap: 2em;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 10em;
    width: 30em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ticket form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ticket form select {
    background-color: transparent;
    color: var(--white);
    border-radius: 5px;
    border: solid 2px var(--pink);
    padding: 0.2em;
}

.ticket form input {
    border-radius: 5px;
    background-color: transparent;
    border: solid 2px var(--pink);
    color: var(--white);
    padding-block-end: 0.2em;
    transition: 200ms;
}

.ticket form input:hover {
    border-color: var(--green);
    border-radius: 10px;
}

.ticket form div {
    padding: 0.3em;
    border: solid 3px var(--white);
    border-radius: 10px;
}

.color-black {
    color: black;
}








/**   when screen becomes smaller than 600px reduce font size   */
@media only screen and (max-width: 600px) {
    input[type=submit],
    textarea,
    input,
    body {
        font-size: 0.5em;
    }

    h2 {
        font-size: 1em;
    }
}
